/* ===================================================================
日本語UTF-8, LF
------------------------------------------------------------------- */



/* ===================================================================
class
------------------------------------------------------------------- */


// -------------------------------------------------------------------
// drag and drop

.simpl__draggable
{
	cursor: move;
}

.simpl__draggable.drag
{
	opacity: 0.4;
}

.simpl__draggable.over
{
	border: 2px dashed #000000;
}

.simpl__droppable.over
{
	border: 2px dashed #000000;
}



